body {
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden !important;
    position: absolute;
}

#back {
    overflow: hidden !important;
    position: absolute;
}

#effect {
    overflow: hidden !important;
    z-index: 1;
    position: absolute;
}
